.radar-page {
  width: 100%;
  min-height: calc(100vh - 75px);
  text-align: center;
  padding: 20px;
  background: #e9f3ff;
}

.radar-page h2 {
  font-size: 28px;
  font-weight: 700;
  color: #012d61;
  margin-bottom: 15px;
}

.layer-buttons {
  margin-bottom: 12px;
}

.layer-buttons button {
  background: #0057ff;
  color: #fff;
  border: none;
  padding: 10px 14px;
  margin: 5px 6px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.layer-buttons button:hover {
  background: #003bb6;
  transform: translateY(-2px);
}

.radar-map {
  width: 90%;
  height: 70vh;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}
